body, html {
	height: 100%;
	margin: 0;
}

.fullscreen-image {
	background-image: url("../img/blueflower.jpg");
	height: 80%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}