.icon-bar {
	width: 100%;
	background-color: #777;
	overflow: auto;
}

.icon-bar a {
	float: left;
	text-align: center;
	width: 20%; /* 5 icons * 20% = 100% */
	transition: all 0.3s ease; /* transition for hover effect */
	color: white;
	font-size: 36px;
}

.icon-bar a:hover {
	background-color: #000;
}

.active {
	background-color: lightgreen;
}